{% extends 'base.html.twig' %}

{% block body %}

    <div class="container body-content">
        <h4>User: {{ app.user.loginName }}</h4>
        <div class="well">
            <h2>All Booking -
                <a href="{{ path('booking_create') }}" class="btn btn-danger">Create New</a>
            </h2>
            <div class="row">
                <table class="table table-striped table-hover ">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Date Added</th>
                        <th>Checkin</th>
                        <th>Checkout</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for booking in bookings %}
                        <tr>
                            <td>{{ booking.id }}</td>
                            <td>{{ booking.dateAdded|date("Y-m-d H:i:s") }}</td>
                            <td>{{ booking.checkin|date("Y-m-d") }}</td>
                            <td>{{ booking.checkout|date("Y-m-d") }}</td>
                            <td>{{ booking.status }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
{% endblock %}