{% extends 'base.html.twig' %}

{% block body %}

    <div class="container body-content span=8 offset=2">
        <div class="well">
            {% for msg in app.session.flashbag.get('errors')  %}
                <div class="alert alert-danger">
                    {{ msg }}
                </div>
            {% endfor %}
            <form class="form-horizontal" action="{{ path('user_register') }}" method="post">
                <fieldset>
                    <legend>Register</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_email">Email</label>
                        <div class="col-sm-4">
                            <input  type="text" class="form-control" id="user_email" placeholder="Email" name="user[email]"  value="{{ (form.email.vars.value )}}">
                        </div>
                        <div class="form-errors">
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_loginName">Login Name</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="user_loginName" placeholder="Login Name" name="user[loginName]"  value="{{ (form.loginName.vars.value )}}">
                        </div>
                        <div class="form-errors">
                            {{ form_errors(form.loginName) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_password_first">Password</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="user_password_first" placeholder="Password" name="user[password][first]">
                        </div>
                        <div class="form-errors">
                            {{ form_errors(form.password.first) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_password_second">Confirm Password</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="user_password_second" placeholder="Password" name="user[password][second]">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            {#<a class="btn btn-default" href="{{ path('hotel_index') }}">Cancel</a>#}
                            <button type="submit" class="btn btn-danger">Register</button>
                        </div>
                    </div>
                    {{  form_row(form._token) }}
                </fieldset>
            </form>
        </div>
    </div>
    
{% endblock %}