{% extends 'base.html.twig' %}

{% block body %}

    <div class="container body-content">
        {% for msg in app.session.flashbag.get('info')  %}
                <div class="alert alert-success" id="info">
                    {{ msg }}
                </div>
        {% endfor %}    
        <div class="row find-guest">
            <div class="col-md-8">
                <h2>
                    <a href="{{ path('admin_guests') }}">All Guests</a> -
                    <a href="{{ path('admin_guest_create') }}" class="btn btn-danger">Create New</a>
                </h2>
            </div>
            <div class="col-md-4 text-center">
                <form method="POST">
                    <div class="row">
                        <div class="col-md-7">
                            <input type="text" class="icon-find" name="personalNumber" placeholder="&#xF002; Enter personal number" />
                            <p>Please, enter 10 digits!</p>
                        </div>
                        <div class="col-md-5">
                            <button type="submit" class="btn btn-danger">Find Guest</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Personal Number</th>
                    <th>First Name</th>
                    <th>Father's Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for guest in guests %}
                    <tr>
                        <td>{{ guest.id }}</td>
                        <td>{{ guest.personalNumber }}</td>
                        <td>{{ guest.firstName }}</td>
                        <td>{{ guest.fathersName }}</td>
                        <td>{{ guest.lastName }}</td>
                        <td>{{ guest.email }}</td>
                        <td>{{ guest.phone }}</td>
                        <td>
                            <a href="{{ path('admin_guest_view', {id: guest.id}) }}" target=_blank>View</a>
                            <a href="{{ path('admin_guest_edit', {id: guest.id}) }}" target=_blank>Edit</a>
                            <a href="{{ path('admin_guest_delete', {id: guest.id}) }}" onClick="return confirm('Are you sure you want to delete {{ guest.firstName }} {{ guest.fathersName }} {{ guest.lastName }} ?')">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}