{% extends 'base.html.twig' %}

{% block body %}

    <div class="container body-content">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="well">
                    {% for msg in app.session.flashbag.get('errors')  %}
                        <div class="alert alert-danger">
                            {{ msg }}
                        </div>
                    {% endfor %}
                    <form class="form-horizontal" action="{{ path('admin_booking_edit', {id: booking.id}) }}" method="post">
                        <fieldset>
                            <legend>Edit Booking [ #{{ booking.id }} ]</legend>
                            <div class="form-group">
                                <label class="col-sm-12 control-label" for="booking_edit_checkin">Checkin</label>
                                <div class="col-sm-12">
                                    <div class="form-control">{{ booking.checkin|date("Y-m-d") }}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 control-label" for="booking_edit_checkout">Checkout</label>
                                <div class="col-sm-12">
                                    <div class="form-control">{{ booking.checkout|date("Y-m-d") }}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 control-label" for="booking_edit_adults">Adults and children over 6 years old</label>
                                <div class="col-sm-12">
                                    <select class="form-control" id="booking_edit_adults" name="booking_edit[adults]">
                                        {% for i in 1..booking.category.beds %}
                                            {% if (i == booking.adults)  %}
                                                <option selected="selected" value="{{ i }}">{{ i }}</option>
                                            {% else %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="checkbox" name="booking_edit[childBed]" {% if ( booking.childBed == 1 ) %} ( checked="checked" ) {% endif %} >
                                    <label for="booking_edit_childBed">with a child bed (children aged 6 and under)</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 control-label" for="booking_edit_payment">Payment</label>
                                <div class="col-sm-12">
                                    <select class="form-control" id="booking_edit_payment" name="booking_edit[payment]">
                                        {% for payment in payments %}
                                            {% if ( booking.payment.id == payment.id)  %}
                                                <option selected="selected" value="{{ payment.id }}">
                                                    {{ payment.name }}
                                                </option>
                                            {% else %}
                                                <option value="{{ payment.id }}">
                                                    {{ payment.name }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 control-label" for="booking_edit_paidAmount">Paid Amount</label>
                                <div class="col-sm-12">
                                    <input type="number" class="form-control" id="booking_edit_paidAmount"  name="booking_edit[paidAmount]" value="{{ booking.paidAmount }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 control-label" for="booking_edit_status">Status</label>
                                <div class="col-sm-12">
                                    <select class="form-control" id="booking_edit_status" name="booking_edit[status]">
                                        {% for status in statuses %}
                                            {% if ( booking.status.id == status.id)  %}
                                                <option selected="selected" value="{{ status.id }}">
                                                    {{ status.name }}
                                                </option>
                                            {% else %}
                                                <option value="{{ status.id }}">
                                                    {{ status.name }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <a class="a-cancel" href="{{ path('admin_bookings') }}">Cancel</a>
                                    <button type="submit" class="btn btn-danger">Submit</button>
                                </div>
                            </div>
                        {{ form_row(form._token) }}
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
