{% extends 'base.html.twig' %}

{% block body %}

    <div class="container body-content">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <form class="form-horizontal" action="{{ path('admin_bookings_find') }}" method="post">
                    <legend>Search Booking</legend> 
                    <div class="form-group">
                        <label class="col-sm-12 control-label" for="booking_checkin">Checkin</label>
                        <div class="col-sm-12">
                            <input type="date" class="form-control" name="checkin" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12 control-label" for="booking_checkout">Checkout</label>
                        <div class="col-sm-12">
                            <input type="date" class="form-control" name="checkout" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12 control-label" for="booking_dateAdded">Date Added</label>
                        <div class="col-sm-12">
                            <input type="date" class="form-control" name="dateAdded" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12 control-label" for="booking_status">Status</label>
                        <div class="col-sm-12">
                            <select class="form-control" name="status">
                                <option value="" selected="selected">Select Status</option>
                                {% for status in statuses %}
                                    <option value="{{ status.id }}">
                                        {{ status.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12 control-label" for="booking_payment">Payment</label>
                        <div class="col-sm-12">
                            <select class="form-control" name="payment">
                                <option value="" selected="selected">Select Payment</option>
                                {% for payment in payments %}
                                    <option value="{{ payment.id }}">
                                        {{ payment.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <a class="cancel-a" href="{{ path('admin_bookings_find') }}">Cancel</a>
                            <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}