<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Hotel & SPA{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <script>
        setTimeout(function() {
            $('#info').fadeOut();
        }, 2000)
    </script>
</head>

<body id="{% block body_id %}{% endblock %}">

{% block header %} 
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <div class="container">
                <a class="navbar-brand" href="{{ path('hotel_index') }}"><img src="{{ asset('img/logo.png') }}"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button> 
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        {% if app.user %}
                            {% if app.user.isAdmin() %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ADMIN</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{{ path('admin_bookings') }}">Bookings</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{ path('admin_categories') }}">Categories</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{ path('admin_guests') }}">Guests</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{ path('admin_payments') }}">Payments</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{ path('admin_rooms') }}">Rooms</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{ path('admin_statuses') }}">Statuses</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{ path('admin_stays') }}">Stays</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{ path('admin_users') }}">Users</a>
                                    </div>
                                </li>
                            {% endif %}
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('hotel_index') }}">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('view_venues') }}">VENUES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('view_relax_zone') }}">RELAX</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('view_events') }}">EVENTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('view_offers') }}">OFFERS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('view_contact') }}">CONTACT</a>
                        </li>
                        {% if app.user %}
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PROFILE</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('user_booking_create') }}">Create Booking</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('my_bookings') }}">My Bookings</a> 
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('security_logout') }}">Logout</a>   
                            </div>
                        </li>
                        {% else %}
                            <li>
                                <a class="nav-link" href="{{ path('security_login') }}">LOGIN</a>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ENGLISH</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Български</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Deutsch</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">English</a>  
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Русский</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
{% endblock %}

    {% block body %}
      
    {% endblock %}

{% block footer %}
    <footer class="footer">
            <div class="container-fluid newsletter">
                <div class="col-md-10 offset-md-1">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <h3>Newsletter</h3>
                            <hr />
                            <h6>SUBSCRIBE FOR SPECIAL OFFERS</h6>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email here">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                <button type="submit" class="btn btn-danger danger-submit">Submit</button>
                            </form> 
                        </div> 
                    </div>
                </div>    
            </div>
            <div class="footer-p">
                <p>All Rights Reserved</p>
            </div>
        </footer>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}

</body>
</html>
