{% extends 'base.html.twig' %}

{% block body_id 'register' %}

{% block main %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('booking_create') }}" method="post">
                <fieldset>
                    <legend>Create Booking</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="booking_category">Category</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.category) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="booking_checkin">Checkin</label>
                        <div class="col-sm-4 ">
                            <input type="date" class="form-control" id="booking_checkin"  name="booking[checkin]" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="booking_checkout">Checkout</label>
                        <div class="col-sm-4 ">
                            <input type="date" class="form-control" id="booking_checkout"  name="booking[checkout]" required>
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="booking_adults">Adults</label>
                        <div class="col-sm-4 ">
                            <input type="number" class="form-control" id="booking_adults"  name="booking[adults]" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="booking_adults">Child Bed</label>
                        <div class="col-sm-4 ">
                            <input type="number" class="form-control" id="booking_childBed"  name="booking[childBed]" required>
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="booking_payment">Payment</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.payment) }}
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="booking_room">Room</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.room) }}
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            {#<a class="btn btn-default" href="{{ path('hotel_index') }}">Cancel</a>#}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                    {{  form_row(form._token) }}
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}