{% extends 'base.html.twig' %}

{% block body_id %}

{% endblock %}

{% block main %}

    <div class="container body-content">
        <div class="row">
            {% for booking in bookings %}
                <div class="col-md-12">
                    <article>
                        <header>
                            Booking {{ booking.id }}
                        </header>
                        <p>
                            Checkin: {{ booking.checkin|date("Y-m-d") }}  Checkout: {{ booking.checkout|date("Y-m-d") }}
                        </p>

                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-success btn-xs" href="{{ path('booking_edit', {id: booking.id}) }}">Edit</a>
                                <a class="btn btn-danger btn-xs" href="{{ path('booking_delete', {id: booking.id}) }}">Delete</a>
                                <a class="btn btn-default btn-xs" href="{{ path('hotel_index') }}">Back &raquo;</a>
                            </div>
                        </footer>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
