{% extends 'base.html.twig' %}

{% block body %}

    <div class="container home-container mb-5">
        <div class="row text-center">
            <div class="col-md-6 offset-md-3">
                {% if roomsResult|length == 0 %} 
                    {% for msg in app.session.flashbag.get('errors')  %}
                        <div class="alert alert-danger" id="errors">
                            {{ msg }}
                        </div>
                    {% endfor %}
                    {% for msg in app.session.flashbag.get('warning')  %}
                        <div class="alert alert-warning" id="warning">
                            {{ msg }}
                        </div>
                    {% endfor %}       
                    <form class="form-horizontal search-room" action="{{ path('search_room') }}" method="post">
                        <div class="form-group">
                            <div class="row mt-3 mb-3">
                                <div class="col-md-12 col-title">
                                    <span>BOOK ONLINE</span>
                                </div>
                            </div>
                           <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="mr-3 pr-5">Arrival:</label>
                                    <input type="date" class="input-date"  value="{{ "now"|date('Y-m-d') }}" name="checkin" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="mr-3 pr-3">Departure:</label>
                                    <input type="date" class="input-date" value="{{ "now"|date_modify('+1 day')|date('Y-m-d') }}" name="checkout" />
                                </div>
                            </div>
                            <div class="row mt-3 mb-3">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-danger form-submit">SEARCH ROOM</button>
                                </div>
                            </div>
                        </div>
                    </form>    
                {% else %} 
                    {% for msg in app.session.flashbag.get('info')  %}
                        <div class="alert alert-success" id="info">
                            {{ msg }}
                        </div>
                    {% endfor %}
               {% endif %} 
            </div>
        </div>     
        <div class="row">
           {% for room in roomsResult %}
                <div class="col-md-6 offset-md-3 col-home">
                    <img src="{{ asset('uploads/images/categories/' ~ room.category.image)}}" alt="img" class="img-thumbnail">
                    <div class="room-info">
                        <a class="cat-link" href="{{ path('category_view', {id: room.categoryId}) }}">{{ room.category.name }}</a>
                        <p>{{ room.category.description }}</p>
                        <a href="{{ path('user_booking_create_with_search_form', { catId: room.categoryId, rId: room.id, checkin: checkin|date('Y-m-d'), checkout: checkout|date('Y-m-d') } ) }}">
                            <button class="btn btn-danger">BOOKING</button>
                        </a>
                    </div>
                </div>
            {% endfor %}  
        </div>        
    </div>  
    
{% endblock %}