{% extends 'base.html.twig' %}

{% block body %}

    <div class="container body-content">
        <div class="row">

            {% for msg in app.session.flashbag.get('info')  %}
                <div class="alert alert-success" id="info">
                    {{ msg }}
                </div>
            {% endfor %}
            
            <h2 style="text-align: center;">WELCOME</h2>

            {% for category in categories %}
                <div class="col-md-4 text-left" style="margin-top: 30px; margin-bottom: 70px;">
                    <article>
                        <header>

                        </header>
                        <div>
                            <img src="{{ category.imageURL }}" width="370px" height="460px">
                            <p style="margin-top: 20px; margin-bottom: 30px; font-size: 24px;">{{ category.name }} <span style="margin-left: 20px;">${{ category.price }}</span></p>
                            <p><a class="btn btn-success" href="{{ path('booking_create') }}">BOOKING</a></p>
                        </div>

                        <footer>

                        </footer>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}

