{% extends 'base.html.twig' %}

{% block body %}



    <div class="container body-content">
        <div class="row">

            {% for msg in app.session.flashbag.get('info')  %}
                <div class="alert alert-success" id="info">
                    {{ msg }}
                </div>
            {% endfor %}

            {% for category in categories %}
                <div class="col-md-12">
                    <article>
                        <header>

                        </header>
                        <p>
                            <a href="{{ path('booking_create') }}">
                            <img src="{{ category.imageURL }}" width="600px" height="300px"> {{ category.name }} {{ category.price }} lv. BOOKING
                            </a>
                        </p>

                        <footer>

                        </footer>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>




{% endblock %}

