{% extends 'base.html.twig' %}

{% block body %}

    <div class="container body-content">
        <div class="well">
            <form class="form-horizontal" action="{{ path('admin_stay_edit', {'id': stay.id}) }}" method="POST">
                <legend>Edit Stay</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="stay_note">Note</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="stay_note" placeholder="Note" name="stay[note]" value="{{ stay.note }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="stay_guest">Guest</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.guest) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="stay_room">Room</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.room) }}
                        </div>
                    </div> 
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('admin_stays') }}">Cancel</a>
                            <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                    </div>
                    {{  form_row(form._token) }}
                </fieldset>
            </form>
        </div>
    </div>
    
{% endblock %}