{% extends 'base.html.twig' %}

{% block body %}

    <div class="container body-content">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="well">
                    <form class="form-horizontal" action="{{ path('admin_stay_edit', {id: stay.id}) }}" method="POST">
                        <legend>Edit Stay [ #{{ stay.id }} ]</legend>
                        <div class="form-group">
                            <label class="col-sm-12 control-label" for="stay_edit_booking">Booking</label>
                            <div class="col-sm-12">
                                <select class="form-control" id="stay_edit_booking" name="stay_edit[booking]">
                                    {% for booking in bookings %}
                                        {% if ( stay.booking.id == booking.id)  %}
                                            <option selected="selected" value="{{ booking.id }}">
                                                {{ booking.id }} ( Reserved by email: {{ booking.userId.email }} )
                                            </option>
                                        {% else %}
                                            <option value="{{ booking.id }}">
                                                {{ booking.id }} ( Reserved by email: {{ booking.userId.email }} )
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12 control-label" for="stay_edit_guest">Guest</label>
                            <div class="col-sm-12">
                                <select class="form-control" id="stay_edit_guest" name="stay_edit[guest]">
                                    {% for guest in guests %}
                                        {% if ( stay.guest.id == guest.id)  %}
                                            <option selected="selected" value="{{ guest.id }}">
                                                {{ guest.personalNumber }} {{ guest.firstName }} {{ guest.fathersName }} {{ guest.lastName }}
                                            </option>
                                        {% else %}
                                            <option value="{{ guest.id }}">
                                                {{ guest.personalNumber }} {{ guest.firstName }} {{ guest.fathersName }} {{ guest.lastName }}
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="checkbox" name="stay_edit[isTerminated]" {% if ( stay.isTerminated == 1 ) %} ( checked="checked" ) {% endif %} >
                                    <label for="stay_edit_isTerminated">Termination of stay</label>
                                </div>
                            </div>
                        <div class="form-group">
                            <label class="col-sm-12 control-label" for="stay_edit_note">Note</label>
                            <div class="col-sm-12">
                                <textarea class="form-control" name="stay_edit[note]" id="stay_edit_note" rows="6">{{ stay.note }}</textarea> 
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-3">
                                <a class="a-cancel" href="{{ path('admin_stays') }}">Cancel</a>
                                <button type="submit" class="btn btn-danger">Submit</button>
                            </div>
                        </div>
                        {{  form_row(form._token) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}