{% extends 'base.html.twig' %}

{% block body %}

    <div class="container body-content">
        <h2><a href="{{ path('admin_stays') }}">All Stays</a></h2>
        {% if stays|length == 0 %} 
            <h4 class="text-center mt-5">Not found result!</h4>
            <h4 class="text-center mb-5">Please, try again!</h4>
        {% else %} 
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Booking</th>
                    <th>Guest</th>
                    <th>Terminated Stay</th> 
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for stay in stays %}
                    <tr>
                        <td>{{ stay.id }}</td>
                        <td><a href="{{ path('admin_booking_view', {id: stay.booking.id}) }}" target=_blank>{{ stay.booking }}</a></td>
                        <td>
                            <a href="{{ path('admin_guest_view', {id: stay.guest.id}) }}" target=_blank>{{ stay.guest.personalNumber }}</a>
                            <a href="{{ path('admin_guest_view', {id: stay.guest.id}) }}" target=_blank>{{ stay.guest.firstName }} {{ stay.guest.fathersName }} {{ stay.guest.lastName }}</a>
                        </td>
                        <td>{% if ( stay.isTerminated == 1 ) %} Yes on {{ stay.dateOfDeparture|date("Y-m-d H:i:s") }} {% else %} No {% endif %}</td>
                        <td>
                            <a class="text-success" href="{{ path('admin_stay_view', {id: stay.id}) }}" target=_blank>View</a>
                            <a class="text-primary" href="{{ path('admin_stay_edit', {id: stay.id}) }}" target=_blank>Edit</a>
                            <a href="{{ path('admin_stay_delete', {id: stay.id}) }}" onClick="return confirm('Are you sure you want to delete stay with guest {{ stay.guest.firstName }} {{ stay.guest.fathersName }} {{ stay.guest.lastName }} ?')">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>

{% endblock %}