{% extends 'base.html.twig' %}

{% block body %}

<div class="container body-content">
    <div class="well">
        <h2>All Stays</h2>
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Booking</th>
                    <th>Room Number</th>
                    <th>Guest</th>
                    <th>Note</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for stay in stays %}
                    <tr>
                        <td>{{ stay.id }}</td>
                        <td><a href="{{ path('admin_booking_view', {id: stay.booking.id}) }}">{{ stay.booking }}</a></td>
                        <td><a href="{{ path('admin_room_view', {id: stay.room.id}) }}">{{ stay.room }}</a></td>
                        <td><a href="{{ path('admin_guest_view', {id: stay.guest.id}) }}">{{ stay.guest }}</a></td>
                        <td>{{ stay.note }}</td>
                        <td>
                            <a href="{{ path('admin_stay_view', {id: stay.id}) }}" target=_blank>View</a>
                            <a href="{{ path('admin_stay_edit', {id: stay.id}) }}" target=_blank>Edit</a>
                            <a href="{{ path('admin_stay_delete', {id: stay.id}) }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}