{% extends 'base.html.twig' %}

{% block body %}

    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('admin_category_edit', {'id': category.id}) }}" method="POST">
                <fieldset>
                    <legend>Edit Category</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label"
                               for="article_title">Category Name</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="article_title" placeholder="Category Name" name="category[name]" value="{{ category.name }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="category_beds">Beds</label>
                        <div class="col-sm-4 ">
                            <input type="number" class="form-control" id="category_beds" placeholder="Beds" name="category[beds]" value="{{ category.beds }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="category_price">Price</label>
                        <div class="col-sm-4 ">
                            <input type="number" class="form-control" id="category_price" placeholder="Price" name="category[price]" value="{{ category.price }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="category_image">Image URL</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="category_image" placeholder="Image URL" name="category[imageURL]" value="{{ category.imageURL }}">
                        </div>
                    </div>

                    {{ form_row(form._token) }}
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('admin_categories') }}">Cancel</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    
{% endblock %}